input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#searchForm {
    position: relative;
    width: 45%;
    margin: 0 auto;
    z-index: 100;
}

.form-control{
  border-radius: 16px;
}

.form-control:focus {
  box-shadow: none!important;
  border-color: #ced4da!important;
}
